[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = http://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/nowk/zencoding-vim.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = http://github.com/duff/vim-scratch.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = git://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/vim-zoomwin"]
	path = bundle/vim-zoomwin
	url = git://github.com/rphillips/vim-zoomwin.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/lusty_explorer"]
	path = bundle/lusty_explorer
	url = git://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/vim-scripts/vim-coffee-script.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "Buffet.vim"]
	path = Buffet.vim
	url = git://github.com/sandeepcr529/Buffet.vim.git
[submodule "bundle/buffet"]
	path = bundle/buffet
	url = git://github.com/sandeepcr529/Buffet.vim.git
[submodule "bundle/github-colorscheme"]
	path = bundle/github-colorscheme
	url = git://github.com/grillpanda/github-colorscheme.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-lucius"]
	path = bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
